.butt{
    width: 320px;
    background-color: #F4F1EB;
    padding: 25px;
}

.butt:hover{
    background: #FDD6BA;
}

.greenbutt{
    width: 320px;
    background-color: #0E8784;
    padding: 25px;
    color: white;
}


@media (min-width: 768px) {
    .butt{
        width: 100%;
    }

    .greenbutt{
        width: 100%;
    }
}