.pup {
  background: #2c343e;
  min-height: 1028px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.num {
  color: #fdd6ba;
}

@media (min-width: 768px) {
  .box {
    height: 350px;
  }

  .pup {
    min-height: 640px;
    flex-direction: column;
  }

  .ball {
    width: 31px;
    height: 31px;
    stroke-width: 2px;
    stroke: #0e8784;
    border: solid 2px #0e8784;
    border-radius: 50%;
  }

  .line {
    width: 547px;
    color: white;
    border-top: #fdd6ba 2px solid;
    z-index: 1;
    position: absolute;
    top: 14px;
    left: 20px;
  }
}
