.qb{
    width: 105%;
}
.block{
    border-radius: 8px;
    background: #f4f1eb;
    padding: 30px;
}

.greenblock{
    border-radius: 8px;
    background: #0E8784;
    padding: 30px;
}


@media(min-width: 768px){
    .qb{
        width: 100%;
    }
}
