.last{
    color: #FFF;
font-family: "Fraunces 9pt";
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 40px; /* 166.667% */
width: 392px;
flex-shrink: 0;
background: #2C343E;
}

.choice{
    color: #0E8784;
    text-transform: capitalize;
}


.btn{
    border-radius: 6px;
background: #0E8784;
width: 217px;
height: 56px;
flex-shrink: 0;
}

.os{
    background-color: #2C343E;
    width: 85vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.os-container{
    height: 567px;
    width: 85vw;
    background-color:#FEFCF7 ;
    z-index: 1;
    position: fixed;
}


@media(min-width: 768px){
    .os-p1{
        width: 450px;
    }

    .os-p2{
        width: 450px;

}

.spazz{
    right: 65%;
}
}


@media(min-width: 1024px){
    .tinn{
        width: 800px;
        position: relative;
        left: 40px;
        
    }

    .btn{
        margin-left: 500px;
    }

    .os-container{
        height: 537px;
        width: 597px;
        background-color:#FEFCF7 ;
        z-index: 1;
        position: fixed;
    }

    .os{
        width: 597px;
    }
    

   
}