.last{
    color: #FFF;
font-family: "Fraunces 9pt";
font-size: 24px;
font-style: normal;
font-weight: 900;
line-height: 40px; /* 166.667% */
width: 392px;
flex-shrink: 0;
background: #2C343E;
}

.choice{
    color: #0E8784;
    text-transform: capitalize;
}


.btn{
    border-radius: 6px;
background: #0E8784;
width: 217px;
height: 56px;
flex-shrink: 0;
}

.os{
    background-color: #2C343E;
}

.os-container{
    height: 507px;
    width: 80vw;
}

.black{
   
}


@media(min-width: 1024px){
    .tinn{
        width: 800px;
        position: relative;
        left: 40px;
        
    }

    .btn{
        margin-left: 500px;
    }
}