.aboutinfo{
    background: url("../../../assets/about/mobile/image-hero-whitecup.jpg") no-repeat center center/cover;
    height: 400px;
    border-radius: 10px;
   
}


@media(min-width: 768px){
    .aboutinfo{
        background: url("../../../assets/about/tablet/image-hero-whitecup.jpg") no-repeat center center/cover;
    }
}

@media(min-width: 1024px){
    .aboutinfo{
        background: url("../../../assets/about/desktop/image-hero-whitecup.jpg") no-repeat center center/cover;
    }
}