.header {
  display: flex;
  align-items: center;
  padding: 9% 0;
}

.nav-links {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  font-family: "Barlow", sans-serif;
  list-style: none;
  background: linear-gradient(
    360deg,
    rgba(254, 252, 247, 0.5) 0%,
    #fefcf7 55.94%
  );
}

.header-logo {
  width: 10.5rem;
  height: 1.125rem;
}

.nav-links li {
  color: #333d4b;
  font-family: "Fraunces", serif;
  font-weight: 900;
}

@media (min-width: 768px) {
  #ham {
    display: none;
  }

  .nav-links {
    background: none;
    position: relative;
    display: flex;
    flex-direction: row;
    color: #83888f;
    font-family: Barlow;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 125% */
    letter-spacing: 0.923px;
    text-transform: uppercase;
    width: auto;
  }

  
}

@media (min-width: 1024px) {
  .header {
    padding: 3rem 0;
  
}
}