.howitworks{
    position: relative;
    margin-top: 40rem;
}

.line{
    z-index: -1;

}

.cir{
    z-index: 1;
}

@media (min-width: 768px) {
    .howitworks{
        margin-top: 20rem;
    }
}


@media(min-width: 1024px){
    .howitworks{
        margin-top: 8rem;
    }
}
