.oc {
}
.oc h2 {
  color: #83888f;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 72px; /* 180% */
}

.buddy {
  position: absolute;
  width: 100%;
  height: 120%;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0) 0%, #fefcf7 100%);
  top: 0;

}

@media (min-width: 768px) {
  .oc h2 {
    font-size: 96px;
  }

  .collective {
  }
}
