.death{
  max-height: 902px;
  border-radius: 10px;
  background: #2c343e;
}

.why {
 
}

.dad{
  height: 1400px;
}

.dothis{
  bottom: 30rem;
}

.why{
  height: 1000px;
}



@media (min-width: 768px) {
.dad{
}

  .why{
    height: 573px;
    border: solid 1px ;
  }

  .dothis{
    bottom: 20rem;
  }
}
