.death{
  max-height: 902px;
  border-radius: 10px;
  background: #2c343e;
}

.why {
 
}

.dad{
  height: 1400px;
}

.dothis{
  height: fit-content;
  top: 176rem;
}

.why{
  height: 1000px;
}





@media (min-width: 768px) {
.dad{
}

  .why{
    height: 573px;
  }

  .dothis{
    top: 139rem;
  }

  .death{
    max-height: 580px;
  }
}


@media (min-width: 1024px) {
  .dothis{
    top: 101rem;
    
  }
}
