.why {
  height: 902px;
  border-radius: 10px;
  background: #2c343e;
}

.dothis{
  bottom: 34rem;
}

@media (min-width: 768px) {
  .why{
    height: 573px;
  }

  .dothis{
    bottom: 20rem;
    border: solid 1px #2c343e;
  }
}
