.App {
  height: 100vh;
  background: #FEFCF7;
  width: 327px;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
  
}

@media(min-width: 768px){
  .App{
    width: 689px;
  }
}

@media(min-width: 1024px){
  .App{
    width: 1280px;
  }
}